body
{
    margin: 0;
    padding: 0;
    background-image:url('images/pf41.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    font-family: 'Arial';

}
.login{

        float:left;
        width: 384px;
        margin: auto;
        padding: 10px;
        text-align:top;
        border-radius: 5px ;

}
.img{
        margin: auto;
        padding: 10px;
        text-align:right;
        border-radius: 8px ;
}
h2{
    text-align: center;
    color: white;
    padding: 20px;
}


label{
    color: #08ffd1;
    font-size: 17px;

}

span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: grey;
}
